.clear{
    clear: both;
}

/* Menu */

a:hover{
    text-decoration: none !important;
}

.chakra-button:focus{
    box-shadow: none !important;
}

.profile .chakra-menu__menu-button span{
    font-size: 30px;
    margin: 5px 0 0;
    color: #B83280
}